[*.cs]

# IDE0090: 使用 "new(...)"
dotnet_diagnostic.IDE0090.severity = silent

# Default severity for analyzer diagnostics with category 'Usage'
dotnet_analyzer_diagnostic.category-Usage.severity = silent
